{% extends "layout.html" %}
{% block title %} Add Modify URL {%endblock title%}

{% block content %}

{% if session["id"] == None %}
<h5>In order to add/modify data you must login first.</h5>
{% endif %}
{% if session["id"] != None %}
<form method="post" id = "signlogin">
  <h3>Please select operation : </h3>
  <input type="radio" id="Add" name="operation" value="Add" checked="checked">
  <label for="Add">Add</label><br>
  <input type="radio" id="Modify" name="operation" value="Modify">
  <label for="Modify">Modify</label><br><br>
  <label for="hash">URL:</label>
  <input type="text" id="url" name="url">
  <label for="type">Current Status:</label>
  <input type="text" id="status" name="status">
  <input type="submit" value="Confirm">
</form>
<h5>{{message}}</h5>
{% endif %}

{% endblock content %}
